<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Admin Seller Management
    </title>
    <link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />
    <link rel="stylesheet" href="/css/admin/admin-sellings.css">
</head>

<body>
    <%- include('../partials/adminNav.ejs') %>
    <div class="sellstoo">
            <a href="/admin/dashboard/sellings/view/update/<%=Products._id%>">edits</a>
            <div class="name">
                <span>Name : </span>
                <%= Products.name %>
            </div>
            <div class="brand">
                <span>Brand : </span>
                <%= Products.brand %>
            </div>
            <div class="seller">
                <span>Seller: </span>
                <%= Products.seller%>
            </div>
            <div class="price">
                <span>Price: </span>
                <%= Products.price%>
            </div>
            <div class="image">
                <%= Products.image%>
            </div>
            <div class="count">
                <span>Count In Stock: </span>
                <%= Products.count%>
            </div>
            <div class="description">
                <span>Description : </span>
                <%= Products.description%>
            </div>
            <div class="category">
                <span>Category: </span>
                <%= Products.category%>
            </div>
            <div class="color">
                <span>Color: </span>
                <%= Products.color%>
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>
</body>

</html>