<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Add Seller</title>
  <!-- adding an favicon -->
  <link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />
  <link rel="stylesheet" href="/css/admin/admin-add-seller.css">

</head>

<body>
  <%- include('../partials/adminNav.ejs') %>

    <h2>Add Seller</h2>
    <div class="words">or choose your user</div>

    <a href="/admin/dashboard/usings/user"><span class="use"><i href="#"><img src='/images/user.png' alt="using"/></i></span></a>
    <a href="/admin/dashboard/usings/admin"><span class="adds"><i href="#" ><img src='/images/settings.png' alt="sets"/></i></span></a>
    <span class="vend" style="top: 28%;"><i href="#"><img src='/images/shopping-bag.png' alt="sells"/></i></span>

    <form action="/admin/dashboard/addSeller" method="post">

      <div class="users" style="left: 15%;">
        <label for="username"> username </label>
        <input id="username" type="text" placeholder="username" name="username">
        <span class="Uerror" id="usernameErrorMsg">
          <%if( errorMsg && errorMsg.username) { %>
            <%=errorMsg.username%>
              <%}%>
        </span>
      </div>

      <div class="passes" style="left: 15%;">
        <label for="password"> password </label>
        <input id="password" type="password" placeholder="password" name="password">
        <span class="Perror" id="passwordErrorMsg">
          <%if( errorMsg && errorMsg.password) { %>
            <%=errorMsg.password%>
              <%}%>
        </span>
      </div>

      <div class="email" style="left: 55%;">
        <label for="email"> email </label>
        <input id="email" type="email" placeholder="example@mail.com" name="email">
        <span class="Eerror" id="emailErrorMsg">
          <%if( errorMsg && errorMsg.email) { %>
            <%=errorMsg.email%>
              <%}%>
        </span>
      </div>

      <div class="cpass" style="left: 55%;">
        <label for="cpass"> confirm pass </label>
        <input id="confirmpass" type="password" placeholder="confirm password" name="confirmPassword">
        <span class="Perrortoo" id="confirmPassErrorMsg">
          <%if( errorMsg && errorMsg.confirmPassword) { %>
            <%=errorMsg.confirmPassword%>
              <%}%>
        </span>
      </div>

      <div class="buts">
        <button class="buttons" type="submit" style="top: 75%;">Sign up</button>
        <a href="/admin/dashboard/usings" class="buttons">Back</a>
      </div>

    </form>
    <%- include('../partials/footer.ejs') %>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/public/js/Validations.js"></script>

</html>