<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Admin Products Management
    </title>
    <link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />
    <link rel="stylesheet" href="/css/admin/admin-sellings.css">
</head>

<body>
    <%- include('../partials/adminNav.ejs') %>
        <div class="sells">
            <div class="products">
                <h2>All Products<span>
                        <h3 onclick="nav()">+</h3>
                    </span></h2>
                <table>
                    <tr>
                        <th>Product name</th>
                        <th>Brand</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                    <% Products.forEach(function(product) { %>
                        <tr>
                            <td>
                                <%= product.name %>
                            </td>
                            <td>
                                <%= product.brand %>
                            </td>
                            <td>
                                <%= product.category%>
                            </td>
                            <td>
                                <span>
                                    <span><a class="deleter"
                                        href="/admin/dashboard/sellings/delete/<%=product._id%>">Delete</a></span>
                                    <span><a class="viewer" 
                                        href="/admin/dashboard/sellings/view/<%=product._id%>">View</a></span>
                                </span>
                            </td>

                        </tr>
                        <% }); %>
                            <!-- <tr class="adds" id="adds" style="display: none;">
                                <form method="post" action="/admin/dashboard/sellings">
                                    <td><input name="name" type="text"></td>
                                    <td><input name="brand" type="text"></td>
                                    <td><input name="seller" type="text"></td>
                                    <td><input name="price" type="text"></td>
                                    <td><input name="image" type="file"></td>
                                    <td><input name="count" type="text"></td>
                                    <td><input name="description" type="text"></td>
                                    <td><input name="category" type="text"></td>
                                    <td><input name="color" type="color"></td>
                                    <td><button type="submit" id="addbutts"> Plus one </button></td>
                                </form>
                            </tr> -->
                </table>
            </div>
        </div>
        <div class="foots">
            <%- include('../partials/footer.ejs') %>
        </div>
</body>

<script>
    function nav() {
        if (document.getElementById("adds").style.display == "contents") {
            navClose();
        }
        else if (document.getElementById("adds").style.display == "none") {
            navOpen();
        }
    }
    function navOpen() {
        document.getElementById("adds").style.display = "contents";
    }

    function navClose() {
        document.getElementById("adds").style.display = "none";
    }
</script>

</html>