<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Admin Products Management
    </title>
    <!-- adding an favicon -->
    <link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />
    <link rel="stylesheet" href="/css/admin/admin-sellings.css">
</head>

<body>
    <%- include('../partials/adminNav.ejs') %>
        <div class="sells">
            <div class="products">
                <h2>All Products</h2>
                <table>
                    <tr>
                        <th>Product name</th>
                        <th>Brand</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                    <% Products.forEach(function(product) { %>
                        <tr>
                            <td>
                                <%= product.name %>
                            </td>
                            <td>
                                <%= product.brand %>
                            </td>
                            <td>
                                <%= product.category%>
                            </td>
                            <td>
                                <span>
                                    <span><a class="deleter"
                                        href="/admin/dashboard/sellings/delete/<%=product._id%>">Delete</a></span>
                                    <span><a class="viewer" 
                                        href="/admin/dashboard/sellings/view/<%=product._id%>">View</a></span>
                                </span>
                            </td>

                        </tr>
                        <% }); %>
                </table>
            </div>
        </div>
        <div class="foots">
            <%- include('../partials/footer.ejs') %>
        </div>
</body>

<script>
    function nav() {
        if (document.getElementById("adds").style.display == "contents") {
            navClose();
        }
        else if (document.getElementById("adds").style.display == "none") {
            navOpen();
        }
    }
    function navOpen() {
        document.getElementById("adds").style.display = "contents";
    }

    function navClose() {
        document.getElementById("adds").style.display = "none";
    }
</script>

</html>