<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- adding an favicon -->
    <link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />
    <link rel="stylesheet" href="/css/admin/admin-dashboard.css">
</head>

<body>
        <%- include('../partials/adminNav.ejs') %>
        <div class="contents">
            <section class="status">
                <h2>Site Status</h2>
                <canvas id="usedats"></canvas>
                <canvas id="catdats"></canvas>
                <canvas id="lotus"></canvas>
            </section>
            <section class="revenue">
                <h2>Revenue</h2>
                <p><%= real_revenue %></p>
            </section>
            <section class="usersdats">
                <h2>Users</h2>
                <p><%= ay7aga %></p>
            </section>
            <section class="sellersdats">
                <h2>Sellers</h2>
                <p><%= ay7agatoo %></p>
            </section>
            <div class="addcategory">
                <%- include('../partials/categories.ejs') %>
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
    var xValues = ["Clothes", "Furniture", "Accessories", "Handmade", "Cars"];
    var yValues = [50, 40, 30, 20, 10];
    var barColors = ["#1C4C56", "#89bbbb","#518f99","#2a7589","#83a7b6"];
    
    new Chart("catdats", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        legend: {display: false},
        title: {
          display: true,
          text: "Sells based on categories"
        }
      }
    });
    
</script>
<script>
    var xValuestoo = ["Sellers", "Users", "Admins", "Viewers"];
    var yValuestoo = [25, 20, 15, 10];
    var barColors = ["#1C4C56", "#89bbbb","#518f99","#2a7589"];

    new Chart("usedats", {
  type: "doughnut",
  data: {
    labels: xValuestoo,
    datasets: [{
      backgroundColor: barColors,
      data: yValuestoo
    }]
  },
  options: {
    title: {
      display: true,
      text: "Users accessing our application"
    }
  }
});
</script>
<script>
    var xValuestre = ["Solsol", "Nermo", "Semo", "Manona", "Nado"];
    var yValuestre = [10, 10, 10, 10, 10];
    var barColors = ["#1C4C56", "#89bbbb","#518f99","#2a7589","#83a7b6"];
    
    new Chart("lotus", {
      type: "pie",
      data: {
        labels: xValuestre,
        datasets: [{
          backgroundColor: barColors,
          data: yValuestre
        }]
      },
      options: {
        title: {
          display: true,
          text: "Team stats"
        }
      }
    });
</script>
</html>