<html>

<head>
    <title>Our products</title>
    <link rel="stylesheet" href="/css/userHomepage.css" />
</head>

<body>
    <%- include('../partials/usernav.ejs') %>
    <% if (Products.length> 0) { %>
        <% Products.forEach(function(product) { %>
            <section class="product">
                <div class="product-container">
                    <div class="product-card">
                        <div class="product-image">
                            <span class="discount-tag">number% off</span>
                            <!-- Image here  -->
                            <button class="card-btn">Add to wishlist</button>
                        </div>
                        <div class="product-info">
                            <h2 class="product-name"><%= product.name %></h2>
                            <h2 class="product-brand"><%= product.brand %></h2>
                            <p class="product-short-des"><%= product.description %></p>
                            <span class="price">Price after discount L.E.</span>
                            <span class="actual-price"><%= product.price %></span>
                        </div>
                    </div>
                </div>
            </section>
        <% }); %>
    <% } else { %>
        <h1>No products to show</h1>
    <% } %>
    <%- include('../partials/footer.ejs') %>
    <%- include('../partials/translate.ejs') %>
</body>

</html>