<html>
    <head>
        <title>Our products</title>
        <link rel="stylesheet" href="../public/CSS/userHomepage.css" />
    </head>
    <body>
        <%- include('../partials/usernav.ejs') %>
        <!-- <h1>IT IS WORKING</h1> 
        <h1><%- products %></h1>
        <h1>product 1 name</h1>
        <h1><%- products[1].name %></h1> -->
        <% if (products.length > 0) { %>
            <section class="product">
                <div class="product-container">
                    <div class="product-card">
                        <div class="product-image">
                            <!-- <span class="discount-tag">number% off</span> -->
                            <a href="<%= /product/product/:id %>"> 
                                <!-- <img src="<%= product.image %>" class="product-thumb" alt="<%= product.name %>"> -->
                            </a>
                            <button class="card-btn">Add to wishlist</button>
                        </div>
                        <div class="product-info">
                            <h2 class="product-brand"><%= product.brand %></h2>
                            <h3 class="product-name"><%= product.name %></h3>
                            <!-- <p class="product-short-des"><%= product.description %></p> -->
                            <!-- <span class="price">Price after discount L.E.</span> -->
                            <span class="actual-price"><%= product.price %></span>
                        </div>
                    </div>
                </div>
            </section>
        <% } else { %>
            <h1>No products to show</h1>
        <% } %>
        <%- include('../partials/footer.ejs') %>
        <%- include('../partials/translate.ejs') %>
    </body>
</html>