<!DOCTYPE html>
<html>

<head>

  <title>My whishlist</title>

</head>

<body>
  <div class="wishlist-container">
    <h2>My wishlist<h2>
        <% if (wished.length> 0) { %>
          <table>
            <tr>
              <th>Product name</th>
              <th>Brand</th>
              <th>Category</th>
            </tr>
            <% wished.forEach(function(wish) { %>
              <tr>
                <td>
                  <%= wish.name %>
                </td>
                <td>
                  <%= wish.brand %>
                </td>
                <td>
                  <%= wish.seller%>
                </td>
                <td>
                  <%=wish.price%>
                </td>
                <td>
                  <%= wish.image%>
                </td>
                <td>
                  <%= wish.count%>
                </td>
                <td>
                  <%= wish.description%>
                </td>
                <td>
                  <%= wish.category%>
                </td>
                <td>
                  <%= wish.color%>
                </td>
              </tr>
              <% }) %>
          </table>
          <% } else { %>
            <p>Your wishlist is currently empty.</p>
          <% } %>
  </div>
</body>

</html>