<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> User Homepage</title>

    <link rel="stylesheet" type="text/css" href="/css/userHomepage.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/jpg" href="/images/thebluelogo.png" />

</head>

<body>

    <%- include ('../partials/usernav.ejs')%>

        <div id="header">
            <ul class="links">
                <% cats.forEach(function(cat) { %>
                    <li class="link-item">
                        <a href="/user/cat/<%= cat._id%>" class="link">
                            <%= cat.name %>
                        </a>
                    </li>
                    <% }); %>
            </ul>
        </div>

        <header class="hero-section section">
            <div class="content">
                <img src="/images/theblackicon.png" class="logo" alt="Tamarai's Logo">
                <p class="sub-heading">Best collection of all time.</p>
            </div>
        </header>

        <section class="product">

            <div class="product-container">
                <section class="products">

                    <h2 class="product-category">Best Selling</h2>

                    <button class="pre-btn"><img src="/images/right-arrow.png" alt="left-arrow"></button>
                    <button class="nxt-btn"><img src="/images/right-arrow.png" alt="right-arrow"></button>

                    <div class="product-container">
                        <% productData.forEach(function(product) { %>
                            <div class="product-card">
                                <div class="negma" onclick="nav()">
                                    <div id="bayna" style="display: none;">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div id="baynatoo" style="display: block;">
                                        <a href="/user/homepage/add-to-wishlist/<%= product._id%>"
                                            style="text-decoration: none;"><i class="fa-regular fa-star"
                                                id="star"></i></a>
                                    </div>
                                </div>
                                <div class="product-image">
                                    <% if (product.image=="" ) { %>
                                        <img src="images/no-image.png" class="product-thumb" alt="No image available">
                                        <% } else { %>
                                            <a href="/product/<%= product._id %>"><img
                                                    src="/images/products/<%= product.image %>" class="product-thumb"
                                                    alt="product">
                                                <a class="card-btn" href="./homepage/add/<%= product._id %>">Add to
                                                    Bag</a>
                                                <% } %>
                                            </a>

                                </div>
                                <div class="product-info">

                                    <a href="/product/<%= product._id %>">
                                        <h2>
                                            <%= product.name %>
                                        </h2>
                                    </a>
                                    <h5 class="product-brand">
                                        <%= product.seller%>
                                    </h5>

                                    <% if (product.discount> 0) { %>
                                        <span class="price">
                                            <%= product.price %>L.E.
                                        </span>
                                        <span class="actual-price">
                                            <%= product.price %>L.E.
                                        </span>
                                        <% } else { %>
                                            <span class="price">
                                                <%= product.price %>L.E.
                                            </span>
                                            <% } %>
                                </div>

                            </div>
                            <% }); %>
                    </div>
                </section>
            </div>
        </section>

        <div class="chatbox">
            <div id="chatbox"></div>
        </div>
        <%- include('../partials/footer.ejs') %>
</body>

<script src="/Js/home.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://kit.fontawesome.com/6baebf3609.js" crossorigin="anonymous"></script>
<script>
    function nav() {
        if (document.getElementById("bayna").style.display == "block" && document.getElementById("baynatoo").style.display == "none") {

            document.getElementById("bayna").style.display = "none";
            document.getElementById("baynatoo").style.display = "block";

        }
        else if (document.getElementById("baynatoo").style.display == "block" && document.getElementById("bayna").style.display == "none") {

            document.getElementById("bayna").style.display = "block";
            document.getElementById("baynatoo").style.display = "none";
        }
    }
</script>

</html>