<title>
    Cart</title>


<link rel="stylesheet" type="text/css" href="/css/sellerproducts.css">
<link rel="stylesheet" type="text/css" href="/css/grid-template.css">
<link rel="stylesheet" href="/css/add.css">
<link rel="stylesheet" href="/css/sellersc.css">
<link rel="stylesheet" href="/css/shoppingbag.css">
<link rel="stylesheet" type="text/css" href="/css/user/wishlist.css">



</head>

<body>
    <div class="grid-container">

        <div class="header">
            <%- include('../partials/usernav.ejs') %>
                <div class="alert-target">

                </div>
        </div>
        <div class="body">
            <div class="prlist">
                <div class="headoflists">
                    <div class="buttons">
                        <h3 class="prlist-heading">My Bag</h3>
                        <button class="prlist-action" onclick="remove_all()">Remove all</button>
                    </div>
                </div>
                <div <% if (bag.length> 0) { %>

                    <%bag.forEach(function(mybag) { %>
                        <div>
                            <div class="image-box">
                                <img src="/images/products/<%= mybag.image %>" class="product-thumb" alt="product">
                            </div>
                            <div class="about">
                                <h1 class="title">
                                    <%= mybag.name %>
                                </h1>
                                <h3 class="subtitle">
                                    <%= mybag.seller%>
                                </h3>
                                <img src="photos/street.jpg" alt="street" style="height: 30px;" />
                            </div>
                            <div class="counter"></div>
                            <div class="prices"></div>
                            <div class="counter">
                                <button class="btn" onclick="counting()">+</button>
                                <!-- <div class="btn">+</div> -->
                                <div class="count">1</div>
                                <button class="btn" onclick="decreasing()">-</button>
                                <!-- <div class="btn">-</div> -->
                            </div>
                            <div class="prices">
                                <div class="amount">
                                    <%= mybag.price%>
                                </div>
                                <div class="save"><u>Save for later</u></div>
                                <button class="remove" onclick="remove_element()"><u>Remove</u></button>
                            </div>
                            <% }); %>

                        </div>
                        <%  }else { %>
                            <p>Your my bag is currently empty.</p>
                            <% } %>


                </div>

            </div>
        </div>

    </div>

   
</body>