<title>
    Cart</title>


<link rel="stylesheet" type="text/css" href="/css/sellerproducts.css">
<link rel="stylesheet" type="text/css" href="/css/grid-template.css">
<link rel="stylesheet" href="/css/add.css">
<link rel="stylesheet" href="/css/sellersc.css">
<link rel="stylesheet" href="/css/shoppingbag.css">
<link rel="stylesheet" type="text/css" href="/css/user/wishlist.css">



</head>

<body>
    <div class="grid-container">

        <div class="header">
            <%- include('../partials/usernav.ejs') %>
                <div class="alert-target">

                </div>
        </div>
        <div class="body">
            <div class="prlist">
                <div class="headoflists">
                    <div class="buttons">
                        <h3 class="prlist-heading">My Bag</h3>
                        <button class="prlist-action" onclick="remove_all()">Remove all</button>
                    </div>
                </div>
                <div <% if (bag.length> 0) { %>

                    <% bag.forEach(function(mybag) { %>
                        <form action="/user/homepage/bag/checkout" method="POST">
                            <div class="image-box">
                                <img src="/images/products/<%= mybag.image %>" class="product-thumb" alt="product">
                            </div>
                            <div class="about">
                                <h1 class="title">
                                    <%= mybag.name %>
                                </h1>
                                <h3 class="subtitle">
                                    <%= mybag.seller%>
                                </h3>
                            </div>
                            <div class="item-container">
                                <div class="counter">
                                    <button type="button" class="btn" id="plus-<%= mybag._id %>">+</button>
                                    <div class="count" id="count-<%= mybag._id %>">1</div>
                                    <button type="button" class="btn" id="minus-<%= mybag._id %>">-</button>
                                </div>
                                <div class="prices">
                                    <div class="amount" id="price-<%= mybag._id %>" data-initial-price="<%= mybag.price %>">
                                        <%= mybag.price %>
                                    </div>

                                    <div class="save"><u>Save for later</u></div>
                                    <button class="remove" id="remove-<%= mybag._id %>"><u>Remove</u></button>
                                </div>
                            </div>
                            <input type="hidden" name="<%= mybag._id %>" value="<%= mybag.quantity %>" id="input-<%= mybag._id %>">
                        </form>
                        <% }); %>
                            <div class="total">Total: <span id="total"></span></div>

                            <a href="/User/homepage/bag/checkout" class="checkout">Checkout</a>
                            <button type="submit">Proceed to Checkout</button>



                            <%  }else { %>
                                <p>Your my bag is currently empty.</p>
                                <% } %>


                </div>

            </div>
        </div>

    </div>


</body>
<script>
    document.querySelectorAll('.btn').forEach(btn => {
        btn.addEventListener('click', event => {
            const id = event.target.id.split('-')[1];
            const action = event.target.id.split('-')[0];
            const countElement = document.getElementById(`count-${id}`);
            const priceElement = document.getElementById(`price-${id}`);
            let count = parseInt(countElement.textContent);
            const price = parseFloat(priceElement.textContent);
            const initialPrice = parseFloat(priceElement.getAttribute('data-initial-price'));

            if (action === 'plus') {
                count++;
            } else if (action === 'minus' && count > 1) {
                count--;
            }

            countElement.textContent = count;
            document.getElementById(`input-${id}`).value = count;
            priceElement.textContent = (count * initialPrice).toFixed(2); // Use initialPrice instead of price
            updateTotal();

        });
    });
    document.querySelectorAll('.remove').forEach(btn => {
        btn.addEventListener('click', async event => {
            event.preventDefault();
            const id = event.target.parentNode.id.split('-')[1]; // Change this line

            try {
                const response = await fetch(`/user/homepage/bag/remove/${id}`, {
                    method: 'DELETE',
                });

                if (response.ok) {
                    window.location.reload();
                } else {
                    console.error('Error removing the item from the cart');
                }
            } catch (error) {
                console.error('Error removing the item from the cart', error);
            }
        });
    });

    function updateTotal() {
        const countElements = document.querySelectorAll('.count');
        const priceElements = document.querySelectorAll('.amount');
        let total = 0;

        for (let i = 0; i < countElements.length; i++) {
            const count = parseInt(countElements[i].textContent);
            const price = parseFloat(priceElements[i].textContent);
            total += count * price;
        }

        // Update the total amount element with the new value
        document.getElementById('total').textContent = total.toFixed(2);
    }
    updateTotal()
</script>